body{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 250px 100px 1fr;
    height: 100vh;
    margin: 0px;

}
nav, main{
    display:flex;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
}
/* Nav */
#scores{
    justify-content: space-between;
    color: crimson;
    font-family: monospace;
}
table{
    font-size: 20px;
    border: 2px pink dashed;
    padding: 10px 100px 10px 10px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 0.3in;
}
tr:first-child > td{
    text-decoration: underline orangered dashed;
}
#title{
    position: absolute;
    left: 43vw;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 0.05in;
}
#sub-nav{
    grid-row: 2/3;
    justify-content: space-between;
}
.dart{
    width: 40px;
}
#cpu-darts{
    margin-left: 50px;
    color: rgb(14, 102, 129);
    font-family: monospace;
    font-size: 30px;
}
#pc-darts{
    margin-right: 50px;
    color: rgb(14, 102, 129);
    font-family: monospace;
    font-size: 30px;
}
/* Main */
main{
    grid-row: 2/4;
}
#dart-board{
    border-radius: 50%;
    border: 2px solid grey;
    background-color: black;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 30vh;
    cursor: crosshair;
    z-index: 2;
}
#outer-board{
    border-radius: 50%;
    border: 2px solid grey;
    background-color: white;
    height: 445px;
    width: 445px;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
}
#board-center{
    border-radius: 50%;
    border: 2px solid grey;
    background-color: lightgreen;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 228px;
    left: 222px;
    z-index: 3;
}
#bulls-eye{
    border-radius: 50%;
    border: 2px solid grey;
    background-color: rgb(253, 63, 63);
    height: 25px;
    width: 25px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 4;
}
.zone{
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    position: absolute;
    z-index: 1;
}
.black{
    border-top: 200px solid black;
}
.white{
    border-top: 200px solid white;
}
.zone-num{
    font-size: 0px;
}
.zone-labels{
    color: crimson;
    font-family: monospace;
    font-size: 20px;
    z-index: 3;
}
#zone20{
    top: 30px;
    left: 212px;
}
#zone20-label{
    position: absolute;
    left: 235px;
}
#zone1{
    top: 35px;
    left: 246px;
    transform: rotate(18.4deg);
}
#zone1-label{
    position: absolute;
    top: 12px;
    left: 315px;
}
#zone18{
    top: 51px;
    left: 277px;
    transform: rotate(36.5deg);
}
#zone18-label{
    position: absolute;
    top: 47px;
    left: 378px;
}
#zone4{
    top: 75px;
    left: 302px;
    transform: rotate(55deg);
}
#zone4-label{
    position: absolute;
    top: 98px;
    left: 435px;
}
#zone13{
    top: 106px;
    left: 316px;
    transform: rotate(73deg);
}
#zone13-label{
    position: absolute;
    top: 170px;
    left: 465px;
}
#zone6{
    top: 140px;
    left: 321px;
    transform: rotate(91deg);
}
#zone6-label{
    position: absolute;
    top: 240px;
    left: 480px;
}
#zone10{
    top: 174px;
    left: 315px;
    transform: rotate(109deg);
}
#zone10-label{
    position: absolute;
    top: 312px;
    left: 463px;
}
#zone15{
    top: 204px;
    left: 299px;
    transform: rotate(127deg);
}
#zone15-label{
    position: absolute;
    top: 375px;
    left: 431px;
}
#zone2{
    top: 227px;
    left: 275px;
    transform: rotate(145deg);
}
#zone2-label{
    position: absolute;
    top: 430px;
    left: 382px;
}
#zone17{
    top: 243px;
    left: 245px;
    transform: rotate(162.5deg);
}
#zone17-label{
    position: absolute;
    top: 464px;
    left: 310px;
}
#zone3{
    top: 248px;
    left: 212px;
    transform: rotate(180deg);
}
#zone3-label{
    position: absolute;
    top: 475px;
    left: 240px;
}
#zone19{
    top: 242px;
    left: 178px;
    transform: rotate(198deg);
}
#zone19-label{
    position: absolute;
    top: 463px;
    left: 165px;
}
#zone7{
    top: 225px;
    left: 148px;
    transform: rotate(216deg);
}
#zone7-label{
    position: absolute;
    top: 430px;
    left: 100px;
}
#zone16{
    top: 200px;
    left: 124px;
    transform: rotate(234deg);
}
#zone16-label {
    position: absolute;
    top: 370px;
    left: 40px;
}
#zone8{
    top: 169px;
    left: 109px;
    transform: rotate(252deg);
}
#zone8-label{
    position: absolute;
    top: 305px;
    left: 15px;
}
#zone11{
    top: 135px;
    left: 105px;
    transform: rotate(270deg);
}
#zone11-label {
    position: absolute;
    top: 232px;
    left: 0px;
}
#zone14{
    top: 101px;
    left: 110px;
    transform: rotate(288deg);
}
#zone14-label {
    position: absolute;
    top: 163px;
    left: 12px;
}
#zone9{
    top: 72px;
    left: 126px;
    transform: rotate(307deg);
}
#zone9-label{
    position: absolute;
    top: 100px;
    left: 50px;
}
#zone12{
    top: 50px;
    left: 150px;
    transform: rotate(325deg);
}
#zone12-label {
    position: absolute;
    top: 45px;
    left: 100px;
}
#zone5{
    top: 35px;
    left: 180px;
    transform: rotate(343deg);
}
#zone5-label{
    position: absolute;
    top: 12px;
    left: 170px;
}
button{
    position: relative;
    top: 150px;
    left: 35%;
    border: 2px solid orange;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 5px white;
    padding: 5px 15px;  
    font-family: monospace;
    font-size: 30px;
    background-color: crimson;
    color: white;
    transition: all 300ms ease-in-out;
}
button:hover{
    color: crimson;
    background-color: white;
}